<%= form_with model: product do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <%= form.object.errors.full_messages.first %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_textarea :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :featured_image, class: "form-label" %>
    <%= form.file_field :featured_image, accept: "image/*", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :inventory_count, class: "form-label" %>
    <%= form.number_field :inventory_count, class: "form-control" %>
  </div>

  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

  <div class="d-grid">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
