<h1><%= t ".title" %></h1>

<%= form_with url: search_products_path, method: :get do %>
  <%= text_field_tag :q %>
  <%= submit_tag "Search" %>
<% end %>

<%# <h1>Products</h1> %>
<% if user_signed_in? %>
  <%= link_to "New product", new_product_path %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %>
    
        <%= button_to "Feature",
        feature_product_path(product),
        method: :patch %>
    </li> 



  
  <br>
  <% end %>
</ul> 